@font-face {
    font-family: 'coolvetica';
    src: local('coolvetica'), url('/static/fonts/coolvetica.otf') format('opentype');
}

a.hoverElement:hover {
    color: #FFE335 !important;
    -webkit-transition: color 100ms linear !important;
}

#loaderFrame {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}